In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path=r'C:\Users\User\CareerFoundry_Project_work'

In [3]:
#Importing merged data
customer_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customer_ords_prods_merged.pkl'))

In [4]:
#Dropping Surname column due to PII data
customer_ords_prods_merge = customer_ords_prods_merge.drop(columns=['surname'])

In [5]:
#Regional segmentation of data
Region = []
for value in customer_ords_prods_merge["STATE"]:
  if value in ['Maine','New Hampshire','Vermont','Massachusetts','Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']:
    Region.append("Northeast")
  elif value in ['Wisconsin','Michigan','Illinois','Indiana','Ohio','North Dakota','South Dakota','Nebraska','Kansas','Minnesota','Iowa','Missouri']:
    Region.append("Midwest")
  elif value in ['Delaware','Maryland','District of Columbia','Virginia','West Virginia','North Carolina','South Carolina','Georgia','Florida','Kentucky','Tennessee','Mississippi','Alabama','Oklahoma','Texas','Arkansas','Louisiana']:
      Region.append("South")
  else:
    Region.append("West")

In [6]:
#Creating new column Region
customer_ords_prods_merge['Region']=Region

In [7]:
#Finding whether thereâ€™s a difference in spending habits between the different U.S. regions.
crosstab = pd.crosstab(customer_ords_prods_merge['Region'], customer_ords_prods_merge['spending_flag'], dropna=False)

In [8]:
crosstab

spending_flag  High spender  Low spender
Region
Midwest              149817      7027107
Northeast            101420      5320605
South                196523     10002459
West                 147803      7684007

In the South region there is visible spending disparity.The region South itself have maximum number of highest spending people and lowest spending people.After South maximum number of spending people is in Midwest and maximum number of lowest spending people is in region West.

In [9]:
#Create an flag for low-activity customers 
customer_ords_prods_merge.loc[customer_ords_prods_merge['max_order'] < 5, 'activity_flag'] = 'low_activity_customers'

In [10]:
#Create an flag for high-activity customers
customer_ords_prods_merge.loc[customer_ords_prods_merge['max_order'] >= 5, 'activity_flag'] = 'high_activity_customers'

In [11]:
df_low_activity=customer_ords_prods_merge[customer_ords_prods_merge['activity_flag'] == 'low_activity_customers']

In [12]:
df_high_activity=customer_ords_prods_merge[customer_ords_prods_merge['activity_flag'] == 'high_activity_customers']

In [13]:
#Exporting low-activity customers data
df_low_activity.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'low_activity_customers.pkl'))

In [14]:
#Exporting high-activity customers data
df_high_activity.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'high_activity_customers.pkl'))

In [16]:
#Importing high_activity_customers data
high_activity_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_customers.pkl'))